<form action="{{form-action}}">
	<div class="form-group">
		<label for="exampleInputEmail1">Email address</label>
		<input type="email" name="exampleInputEmail1" class="form-control" id="exampleInputEmail1"
			aria-describedby="emailHelp" value="test@test.com">
		<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">Password</label>
		<input type="password" name="exampleInputPassword1" class="form-control" id="exampleInputPassword1">
	</div>
	<button type="submit" class="btn btn-primary" value="Submit">Submit</button>
</form>